.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}

.details .Profile
{
    position: relative;
    display: grid;
    min-height: 870px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.details .Profile .ProfileHeader
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;    
}
.details .Profile .ProfileHeader h2
{
    font-weight: 600;
    color: #152935;
}
.ProfileHeader ion-icon
{
    font-size: 1.75em;
}
.details .Profile .ProfileHeader .user
{
   
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.details .Profile .ProfileHeader .user img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details .Profile table td a
{
    font-size: 1.25em;
}
.details .Profile table td 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.details table
{  
    width: 100%;
    border-collapse: collapse;
    margin-top: -30px;
}
.details table th
{
    padding-right: 100px;
    font-weight: 600;
}

.details .Profile table tr
{

    color: #222;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .Profile table tr:last-child
{
    border-bottom: none;
}
.details .Profile table tr:nth-child(13)
{
    border-bottom: none;
}
.btns
{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start; 
    position: relative;
    top: 25px;   
}
.btns ion-icon
{
    position: relative;
    top: 1px;
}
.delete a
{
    position: relative;
    padding: 5px 10px ;
    top: 70px;
    left: 10px;
    background: #152935;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    transition: 0.3s;
}
.delete a:hover
{
    color: #999;
}

.password a
{
    position: relative;
    padding: 5px 10px ;
    top: 30px;
    left: 10px;
    background: #152935;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    transition: 0.3s;
}
.password a:hover
{
    color: #999;
}
table td textarea
{
    position: relative;
    width: 100%;
    top: 15px;
    height: 100px;
    outline:none;
    overflow: hidden;
    border:none;
    resize: none;
    font-size: 1em;
    overflow-y: auto;
}

table td .aboutme
{
    position: relative;
    width: 100%;
    height: 130px;
    margin-top: 15px;
    outline:none;
    overflow: auto;
    border:none;
    resize: none;
    font-size: 1em;
}
.multiline-links
 {
    font-size: .85em;
    white-space: pre-line;
}
td
{
    position: relative;
    top: -4px;
}
