.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}

.details .JobListings
{
    position: relative;
    display: grid;
    min-height: 873px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    overflow-y: hidden;
}
.details .JobListings.active .cardbox
{
    overflow-y: auto;
}
.details .JobListings .cardbox
 {
    max-height: calc(100% + 500px);
}
.details .JobListings .ListingsHeader
{
    height: 150px;
}

.details .JobListings .Search
{
    position: relative;
    width: 100%;
    margin: 30px 0px;
}
.details .JobListings .Search label
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start; 
}
.details .JobListings .Search label input
{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    padding: 5px 30px;
    outline: none;
    border: 1px solid var(#999)
}
.details .JobListings .Search ion-icon
{
    position: absolute;
    font-size: 1.25em;
    top: 10px;
    left: 5px;

}
.details .JobListings .Search .dropdown input
{
    position: relative;
    left: 180px;
    cursor: pointer;
}
.details .JobListings .Search .dropdown .option
{
    position: absolute;
    top: 50px;
    right: 320px;
    width: 300px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.20s;
    z-index: 100;
}
.details .JobListings .Search .dropdown.active .option
{
    visibility: visible;
    opacity: 1;
}
.details .JobListings .Search .dropdown .option div
{
    padding: 12px 20px;
    cursor: pointer;
}

.details .JobListings .Search .dropdown .option div:hover
{
    background: #999;
}
.details .JobListings .Search .dropdown1 input
{
    cursor: crosshair;
}
.details .JobListings .Search .dropdown1 .option1
{
    position: absolute;
    top: 50px;
    width: 300px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    z-index: 100;
}
.details .JobListings .Search .dropdown1 input
{
    cursor: pointer;
}
.details .JobListings .Search .dropdown1 .option1
{
    position: absolute;
    top: 50px;
    width: 300px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}
.details .JobListings .Search .dropdown1.active .option1
{
    visibility: visible;
    opacity: 1;
}
.details .JobListings .Search .dropdown1 .option1 div
{
    padding: 12px 20px;
    cursor: pointer;
}

.details .JobListings .Search .dropdown1 .option1 div:hover
{
    background: #999;
}

.details .JobListings .Search .searchbtn a
{
    position: relative;
    padding: 5px 16px ;
    top:7px;
    left: -440px;
    background: #152935;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;;
}
.details .JobListings .Search .searchbtn ion-icon
{
    font-size: 1.5em;
    margin-top: -5px;
}
.textheader
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}
.textheader .text 
{
    position: relative;
    font-size: 1.25em;
    top: 30px;
    font-weight: 500;
}
.textheader .text a
{
    font-weight: 700;
    color: #152935;
}

.textheader .all a
{
        position: relative;
        padding: 5px 10px ;
        top: 30px;
        left: 10px;
        background: #152935;
        text-decoration: none;
        color: var(--white);
        border-radius: 6px;
}   
.cardbox
{
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
}
.cardbox .card
{
position: relative;
background: var(--white);
padding: 40px;
margin-bottom: 15px;
height: 110px;
border-radius: 20px;
display: flex;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 7px 25px rgba(0,0,0,0.08);
z-index: 1;
transition: 0.3s;
}
.company
{
  position: relative;
  top: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.company img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companypost div
{
    margin-top: -5px;
}
.JobDescription h4
{
    position: relative;
    left: -100px;
    width: 250px;
}
.dateSalary 
{
    margin-top: -10px;
}
.companypost
{
    width:250px;
}
.cardbox .card:hover
{
    box-shadow: 0 7px 25px rgba(0,0,0,10);
    border: 1px solid #999;
}
.dateSalary h4
{
    width: 120px;
}
.dateSalary span
{
    position: relative;
    left: 10px;
    width: 120px;
}

